@import "colors";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border-default, #{$border-default});
  background: var(--background-page, #{$background-page});

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--text-secondary, #{$text-secondary});
      }
    }
  }
}

body > nav {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 3rem;

  ul {
    align-items: center;
    gap: 2rem;

    a {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &:hover {
        text-decoration: underline;
        color: var(--accent-primary, #{$accent-primary});
      }
      &[href="/"] {
        color: var(--accent-primary, #{$accent-primary});

        font-size: 1.125rem;
        font-weight: 700;

        &:hover {
          color: var(--text-primary, #{$text-primary});
        }
      }
    }
  }
}

div[role="tablist"] > nav {
  padding: 0 3rem;
  align-self: stretch;

  ul {
    gap: 1.5rem;

    li {
      > a {
        display: inline-block;
        padding: 1rem 0;

        font-size: 0.9375rem;
        font-weight: 600;

        &:hover {
          color: var(--text-primary, #{$text-primary});
        }
      }

      &:has(> a[aria-selected="true"]) {
        border-bottom: 2px solid var(--accent-primary, #{$accent-primary});

        > a {
          color: var(--text-primary, #{$text-primary});
        }
      }
    }
  }
}
