@import "../atom/colors.scss";
.event-card {
  display: inline-block;
  width: 100%;

  article {
    position: relative;

    .flair {
      --tag-bg: var(--accent-primary, #{$accent-primary});

      .tag {
        color: var(--text-primary, #{$text-primary});
      }

      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
    }
  }
}
