@use "../node_modules/@fontsource/outfit/index.css";
@use "../node_modules/@phosphor-icons/web/src/regular/style.css" as
  phosphor-regular;
@use "../node_modules/@phosphor-icons/web/src/fill/style.css" as phosphor-fill;

@import "breakpoints.scss";
@import "atom";
@import "component";
@import "view";

$navbar_height: 3.4rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  /* height: stretch; */
  /* overflow-y: auto; */
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--background-page, #{$background-page});

  > main {
    flex: 1;
    overflow-y: auto;
  }
}

[role="group"] {
  span {
    --mu-background-color: var(--mu-form-element-background-color);
    --mu-border-color: var(--mu-form-element-border-color);
    --mu-color: var(--mu-form-element-color);
    padding: var(--mu-form-element-spacing-vertical)
      var(--mu-form-element-spacing-horizontal);
    background-color: var(--mu-background-color);
    border: var(--mu-border-width) solid var(--mu-border-color);
    border-radius: var(--mu-border-radius);
    max-height: calc(
      1rem * var(--mu-line-height) + var(--mu-form-element-spacing-vertical) *
        2 + var(--mu-border-width) * 2
    );

    &:not(:first-child) {
      margin-left: calc(var(--mu-border-width) * -1);
    }
  }
}

i.ph {
  font-size: 1.25rem;
  vertical-align: middle;

  &:not(:last-child) {
    /* margin-right: 0.5rem; */
  }
}

.reverse {
  transform: scaleX(-1);
}

.votes > progress {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
}

.short-description {
  text-overflow: ellipsis;
  white-space: break-spaces;
  line-clamp: 3;
}

a.plain,
a:has(article) {
  &,
  &:hover {
    --mu-text-decoration: none;
  }
}

// Secondary navigation

.backdrop {
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

article.artist-card {
  img,
  aside {
    width: 6rem;
    height: 6rem;
    i.ph {
      font-size: 6rem;
      text-decoration: none !important;
    }
  }
}
